name: Publish
on:
  push:
    branches:
      - release

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.1

      - uses: actions/setup-node@v4
        with:
          # https://github.com/actions/node-versions/releases
          node-version: 22.22.0
          registry-url: https://registry.npmjs.org/

      - uses: pnpm/action-setup@v4
        with:
          version: latest

      - run: pnpm install

      - run: pnpm publish --access public --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}